<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jingheng.a105project">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sanzhansin"
        android:label="腎戰士"
        android:roundIcon="@drawable/sanzhansin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DataExplan"></activity>
        <activity android:name=".activity.EditDrugActivity" />
        <activity android:name=".activity.EditSportActivity" />
        <activity android:name=".activity.DrugReportActivity" />
        <activity android:name=".activity.FoodInformationActivity" />
        <activity android:name=".activity.EditPeeActivity" />
        <activity android:name=".activity.PeeReportActivity" />
        <activity android:name=".activity.EditWaterActivity" />
        <activity android:name=".activity.EditWeightActivity" />
        <activity android:name=".activity.WeightReportActivity" />
        <activity android:name=".activity.EditBloodSugarActvity" />
        <activity android:name=".activity.BloodSugarReportActivity" />
        <activity android:name=".activity.EditBloodActivity" />
        <activity android:name=".activity.PeeActivity" />
        <activity android:name=".activity.WeightActivity" />
        <activity android:name=".activity.BloodSugarActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AlarmActivity" />
        <activity android:name=".activity.WaterReportActivity" />
        <activity android:name=".activity.FoodReportActivity" />
        <activity android:name=".activity.SportReportActivity" />
        <activity android:name=".activity.BloodReportActivity" />
        <activity android:name=".activity.QAActivity" />
        <activity android:name=".activity.WaterActivity" />
        <activity android:name=".activity.SportActivity" />
        <activity android:name=".activity.LineGraphActivity" />
        <activity android:name=".activity.FoodActivity" />
        <activity android:name=".activity.DrugActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.BloodActivity" />
        <activity android:name=".activity.PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".helper.PlayReceiver">
            <intent-filter>
                <action android:name="play_hskay" />
            </intent-filter>
        </receiver>
    </application>

</manifest>